<div class ="nav-container">
  <h1>Battleship</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/new-game">New Game</a></li>
      <li><a href="/scores">Leaderboard</a></li>
    </ul>
  </nav>
  <!-- <img src="images/tugBoat.png" alt="logo" class="logo"> -->
</div>