<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head.ejs') %>
  <title>New Game</title>
</head>
<body>
  <header>
    <%- include('partials/_nav_bar.ejs') %>
  </header>
  
</body>
</html>