@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
  margin: 0;
  background: rgb(88, 87, 87);
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

header {
  background: #55d6aa;
  font-weight: 600;
}